* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: beige;
  color: black;
  font-family: "Sour Gummy", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* max-height: 100% */
}

.logo.img {
  width: 30px;
  height: 30px;
}

h2 {
  font-size:x-large;
  padding: 1rem;
}

ul {
  list-style: none;
}

p {
  padding: 1rem 0rem 0rem 0rem;
}

button a {
  text-decoration: none;
}

.scrollable-table {
  table-layout: fixed;
  background-color:  rgb(186, 55, 7);
}


.scrollable-table td,
.scrollable-table th {
  color: beige;
  border: 1px solid black;
  padding: 1rem;
}

.scrollable-table thead {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
}

.scrollable-table tbody {
  border-collapse: collapse;
  display: block;
  max-height: 200px;   /* Scroll height */
  overflow-y: scroll;
}

.scrollable-table tbody::-webkit-scrollbar {
  width: 8px;
}

.scrollable-table tbody::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 4px;
}

.pizzaName {
  width: 10rem;
}

.pizzaIngredients {
  width: 34rem;
}

.pizzaPrice {
  width: 5rem;
  text-align: right;
}


.wrapperVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
  color: beige;
  background-color: rgb(186, 55, 7);
}

.menuLink a {
  cursor: pointer;
  color: beige;
  font-weight: 300;
  text-decoration: none;
}

.menuLink a.active {
  font-weight: 700;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contentUpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  background-color: rgb(186, 55, 7);
  padding: 1rem;
  margin: 1rem;
}

.buttonFirst {
  font-weight: bold;
  border-radius: 5px;
  margin: 1rem;
  padding: 10px 25px 10px 25px;
  border: 0px solid, black;
  box-shadow: 0 4px 6px black;
  background-color: orange;
  color: black;
  text-decoration: none;
  width: max-content;
  cursor: pointer;
}

.buttonSecond {
  font-weight: 300;
  border-radius: 5px;
  margin: 1rem;
  padding: 10px 25px 10px 25px;
  border: 0px solid, black;
  box-shadow: 0 4px 6px black;
  background-color: tomato;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonRow {
  display: flex;
}

#footer {
  margin: 1rem;
}

/* Form Styling for Account Creation page and others */
.formWrapper {
  width: 100%;
  padding: 15px;
}

.signupContainer {
  display: grid;
  grid-template-columns: 10rem 15rem;
  gap: 1rem;
  /* padding: 10px; */
}

.formError {
  display: none;
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

input {
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
}

.inputLabel {
  padding: 0 0 5px 0;
  color: beige;
}

.showHide {
  color: black;
  visibility: hidden;
}

.errorModal {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 3rem;
}

.messageModal {
  display:flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  color: black;
  padding: 3rem;
}
