* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: #FFD2AD;
  color: black;
  font-family: "Sour Gummy", sans-serif;
  background-image: url('pizzabackground.png');
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex:1;
}

header {
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #c83737;
  width: 100%;
  padding: 1rem;
  color: beige;
}

#logoPicture {
  display: block;
  position: absolute;
  left:0;
  top:0;
  z-index: 10;
}

.logoPicture.img {
  width: 30px;
  height: 30px;
}

#hamburgerIcon {
  display: none;
}

@media screen and (max-width: 600px) {
  #hamburgerIcon {
    cursor: pointer;
    display: block;
    color:beige;
    background-color: #c83737;
  }
  #logoPicture {
    display: none;
  }
}

#menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  color: beige;
}

.menuLink a {
  cursor: pointer;
  color: beige;
  font-weight:lighter;
  text-decoration: none;
}

.menuLink a.active {
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.contentUpper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1rem;
  text-align: center;
}

#logoSpace {
  width: 5rem;
}

#headerText {
  margin: 0px;
  padding: 0px;
  font-size: smaller;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: large;
  }
  #headerText {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
  }
  #pageTitle {
    padding-left: 0.5rem;
    color: beige;
    flex-grow: 1;
    border-bottom: 1px solid beige;
  }
}

#pageTitle {
  color: beige;
  flex-grow: 1;
}

.contentCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loginContainer {
  display: grid;
  grid-template-columns: 10rem 15rem;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .loginContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* max-height: 100% */
}



h2 {
  font-size:x-large;
  padding: 1rem;
}

ul {
  list-style: none;
}

p {
  font-weight: lighter;
  padding: 1rem 0rem 0rem 0rem;
}

button a {
  text-decoration: none;
}


 /* TABLE STYLE */

.scrollable-table {
  margin: 1rem;
  table-layout: fixed;
  background-color: rgba(200, 55, 55, 0.8);;
}

.scrollable-table td,
.scrollable-table th {
  color: beige;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.scrollable-table thead {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  background-color: rgba(200, 55, 55, 1);;
}

.scrollable-table input:read-only{
  color:beige;
  background-color:transparent;
}

.scrollable-table tbody {
  border-collapse: collapse;
  display: block;
  max-height: 20rem;   /* Scroll height */
  overflow-y: scroll;
  font-weight: lighter;
}

.scrollable-table .tBodyTotalOrder {
  border-collapse: collapse;
  display: block;
  max-height: 10rem;   /* Scroll height */
  overflow-y: scroll;
  font-weight: lighter;
}

.scrollable-table tbody::-webkit-scrollbar {
  width: 1rem;
}

.scrollable-table tbody::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 4px;
}

.scrollable-table input {
  padding: 0px;
  border: 0px;
}

.pizzaName {
  width: 10rem;
}

.pizzaName input {
  max-width:7rem;
}

.totalName {
  margin: 1rem;
  width:10rem;
}

.totalOrderName {
  margin: 1rem;
  flex-grow: 1;
}


.pizzaIngredients {
  width: 34rem;
}

.pizzaIngredients input {
  max-width: 30rem;
}

.totalIngredients {
  margin: 1rem;
  flex-grow: 1;
}

.pizzaPrice {
  width: 5rem;
  text-align: right;
}

.pizzaPrice input {
  width: 2rem;
  text-align: right;
}

.totalPrice {
  margin: 1rem;
  width: 4rem;
  text-align: right;
}

.totalOrderPrice {
  margin: 1rem;
  width: 3rem;
  text-align: right;
}

.pizzaQty {
  width: 5rem;
  text-align: right;
}

.pizzaQty input {
  width: 2rem;
  text-align: right;
}

.totalQty {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 2rem;
  text-align: right;
}

.totalOrderQty {
  margin: 1rem;
  width: 3rem;
  text-align: right;
}

.totalContainer {
  display: flex;
  flex-direction: row;
  justify-content:flex-end; 
  background-color:rgba(200, 55, 55, 1);
  color:white;
  font-weight: bold;
  font-family: "Sour Gummy", sans-serif;
  padding-right: 2rem;
}

.totalOrderContainer {
  display: flex;
  flex-direction: row;
  justify-content:flex-end; 
  background-color:rgba(200, 55, 55, 1);
  color:white;
  font-weight: bold;
  font-family: "Sour Gummy", sans-serif;
  padding-right: 1rem;
}

.wrapperVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  background-color:rgba(200, 55, 55, 0.8);
  padding: 1rem;
  margin: 1rem;
}

.buttonFirst {
  font-weight: normal;
  font-family: "Sour Gummy", sans-serif;
  font-size: large;
  border-radius: 5px;
  margin: 1rem;
  padding: 10px 25px 10px 25px;
  border: 0px solid, black;
  box-shadow: 0 4px 6px black;
  background-color: orange;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.buttonSecond {
  font-weight: lighter;
  font-family: "Sour Gummy", sans-serif;
  font-size: large;
  border-radius: 5px;
  margin: 1rem;
  padding: 10px 25px 10px 25px;
  border: 0px solid, black;
  box-shadow: 0 4px 6px black;
  background-color: tomato;
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;  
  cursor: not-allowed;  
  pointer-events: none;   
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

footer {
  width: 100vw;
  color: beige;
  font-weight:lighter;
  background-color:#c83737;
}

#footer {
  margin: 1rem;
}

.signupContainer {
  display: grid;
  grid-template-columns: 10rem 15rem;
  gap: 1rem;
  /* padding: 10px; */
}

input {
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  font-family: "Sour Gummy", sans-serif;
  font-size:medium;
}

.inputLabel {
  padding: 0 0 5px 0;
  color: beige;
}

.showHide {
  color: black;
  visibility: hidden;
}

.errorModal {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 3rem;
}

.messageModal {
  display:flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #94B173;
  color: black;
  padding: 3rem;
}

#creditCardContainerTitle {
  display:none;
  color: beige;
  background-color:  rgba(200, 55, 55, 1);
  width: 22rem;
}

#creditCardContainer {
  display: none;
  grid-template-columns: 10rem 15rem;
  gap: 1rem;
  flex-direction: column;
  background-color:  rgba(200, 55, 55, 0.8);;
  color: beige;
  padding: 1rem;
  width: 22rem;
}

#creditCardContainer .parentElement{
  display:none;
}

#creditCardContainer #cardNumber {
  width:9rem;
}

#creditCardContainer #expMonth {
  width:2rem;
}

#creditCardContainer #expYear, #cvc {
  width:3rem;
}