/* Global Styles */
:root {
  --primary-red: #c83737;
  --primary-red-transparent: rgba(200, 55, 55, 0.8);
  --secondary-orange: orange;
  --error:  #94b173;
  --beige: beige;
  --background: #ffd2ad;
  --font-family-primary: "Sour Gummy", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--font-family-primary);
  background-color: var(--background);
}

input {
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  font-family: var(--font-family-primary);
  font-size: medium;
}

.inputLabel {
  padding: 0 0 5px 0;
  color: var(--beige);
}

.form {
  max-height: 100%;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: black;
  background-image: url("pizzabackground.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* *Header and navigation */

header {
  width: 100%;
  max-height: 12%;
}

@media screen and (max-width: 600px) {
  header {
    max-height: 50%;
  } /* *Because of the mobile menu size  */
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--primary-red);
  width: 100%;
  padding: 1rem;
  color: var(--beige);
}

#logoPicture {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.logoPicture.img {
  width: 30px;
  height: 30px;
}

#hamburgerIcon {
  display: none;
}

@media screen and (max-width: 600px) {
  #hamburgerIcon {
    cursor: pointer;
    display: block;
    color: var(--beige);
    background-color: var(--primary-red);
  }

  #logoPicture {
    display: none;
  }
}

#menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  color: var(--beige);
}

.menuLink a {
  cursor: pointer;
  color: var(--beige);
  font-weight: lighter;
  text-decoration: none;
}

.menuLink a.active {
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
}

#logoSpace {
  display: block;
  width: 5rem;
}

#pageTitle {
  display: block;
  color: var(--beige);
  flex-grow: 1;
}

#headerText {
  margin: 0px;
  padding: 0px;
  font-size: smaller;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: large;
  }

  #headerText {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
  }

  #pageTitle {
    padding-left: 0.5rem;
    color: var(--beige);
    flex-grow: 1;
    border-bottom: 1px solid var(--beige);;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #pageTitle {
    display: none;
  }
  #logoSpace {
    display: none;
  }
}

.loginContainer {
  display: grid;
  grid-template-columns: 10rem 15rem;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

h2 {
  font-size: large;
  padding: 0.5rem;
  text-align: center;
}

ul {
  list-style: none;
}

p {
  font-weight: lighter;
  padding: 1rem 0rem 0rem 0rem;
}

button a {
  text-decoration: none;
}

/* * TABLE STYLE */

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  max-height: 80%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  main {
    flex: none;
    max-height: 90%;
  }
}


.tableWrapper {
  margin-top: 1rem;
  width: 98%;
  overflow-y: auto;
  display: block;
}

.tableWrapperShoppingCart {
  max-height: 100%;
}

.tableWrapperMenuList {
  height: 80%;
}

.tableWrapper::-webkit-scrollbar {
  width: 0.5rem;
}

@media screen and (max-width: 600px) {
  .tableWrapperShoppingCart {
    max-height: 80%;
  }

  .tableWrapperMenuList {
    height: 90%;
  }
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: var(--beige);
  border-radius: 4px;
}

.tableWrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollable-table {
  font-size: large;
  border-collapse: collapse;
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow-y: auto;
  background-color: var(--primary-red-transparent);
}

.scrollable-table tbody td,
.scrollable-table thead th {
  color: var(--beige);
  border-bottom: 1px solid black;
  padding: 0.5rem;
  table-layout: fixed;
}

.scrollable-table thead th {
  position: sticky;
  top: 0px;
  background-color: var(--primary-red);
}

.scrollable-table tbody {
  border-collapse: collapse;
  font-weight: lighter;
}

.scrollable-table tbody input {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 0px;
}

table td input[readonly] {
  width: 100%; /* Make the input take the cell's width */
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal; /* Ensure normal wrapping */
  width: 100%;
}

.scrollable-table input:read-only {
  color: var(--beige);
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .scrollable-table tbody,
  thead,
  tfoot,
  tbody input {
    font-size: small;
  }

  .scrollable-table tbody td,
  .scrollable-table thead th {
    padding: 0.2rem;
  }
}

.scrollable-table tfoot tr {
  position: sticky;
  bottom: 0px;
}

.scrollable-table tfoot tr #totalQty,
#totalPrice {
  text-align: right;
}

.scrollable-table tfoot tr td {
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .scrollable-table tfoot tr td {
    padding: 0.2rem;
  }
}

/* * Width of shopping cart columns */

.cartName {
  width: 15%;
}

.cartIngredients {
  width: 65%;
}

.cartPrice, .cartQty {
  width: 10%;
}

.pizza-price,
.pizza-qty,
#totalPrice,
#totalQty {
  text-align: right;
}

.pizza-name {
  font-weight: bold;
}

.textWrap {
  text-align: center;
  overflow-wrap: break-word;
  /* Break  the long words */
  word-break: break-word;
  white-space: normal;
}

.totalContainer {
  background-color: var(--primary-red);
  color: var(--beige);
  font-weight: bold;
  padding-right: 1rem;
}

.wrapperVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal {
  color: var(--beige);
  background-color: var(--primary-red-transparent);
  padding: 0.5rem;
  margin: 0.5rem;
}

.modal form {
  gap: 1rem;
}

/* * Orders */
.orderPageWrapper {
  margin-top: 1rem;
  width: 90%;
  overflow-y: auto;
  display: block;
}

#orderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* * Buttons */

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.buttonPrimary {
  font-weight: normal;
  font-family: inherit;
  font-size: large;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0px solid, black;
  box-shadow: 0 4px 6px black;
  background-color: var(--secondary-orange);
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 0.2rem;
}

.buttonSecondary {
  font-weight: lighter;
  font-family: inherit;
  font-size: large;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0px solid, black;
  box-shadow: 0 4px 6px black;
  background-color: var(--primary-red);
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
  text-align: center;
  margin: 0.2rem;
}

.warning {
  font-size: small;
}


@media screen and (max-width: 600px) {
  .buttonPrimary,
  .buttonSecondary {
    font-size: small;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  }
}

/* *Footer */

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: var(--beige);
  font-weight: lighter;
  background-color: var(--primary-red);
  font-size: small;
  max-height: 20%;
  position: absolute;
  bottom: 0;
  margin-top: 1rem;
}

#footer {
  text-align: center;
  overflow-wrap: break-word; /* Break  the URL */
  word-break: break-word;
  white-space: normal;
  padding: 1rem;
}

.accountContainer {
  display: grid;
  grid-template-columns: 10rem 15rem;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .accountContainer {
    grid-template-columns: 5rem 10rem;
    gap: 0.2rem;
  }

  .accountContainer {
    grid-template-columns: 6rem 10rem;
    gap: 0.2rem;
  }
}

.showHide {
  color: black;
  visibility: hidden;
}

.errorModal, .messageModal {
  display: flex;
  position: absolute;
  top: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--beige);
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 0 4px 6px black;
}

#messageInfo {
  text-align: center;
}

.errorModal {
  background-color: var(--error);
}

.messageModal {
  background-color: var(--primary-red);
}

/* *Creditcard form */

#creditCardContainerTitle {
  display: none;
  color: var(--beige);
  text-align: center;
}

#creditCardContainer {
  display: none;
  grid-template-columns: 10rem 15rem;
  gap: 0.5rem;
  flex-direction: column;
  color: var(--beige);
  padding: 1rem;
}

#creditCardContainer .parentElement {
  display: none;
}

#creditCardContainer #cardNumber {
  width: 9rem;
}

#creditCardContainer #expMonth {
  width: 2rem;
}

#creditCardContainer #expYear,
#cvc {
  width: 3rem;
}

@media screen and (max-width: 600px) {
  #creditCardContainerTitle {
    font-size: large;
    display: none;
    color: var(--beige);
    text-align: center;
  }

  #creditCardContainer {
    font-size: small;
    grid-template-columns: 6rem 12rem;
    gap: 0.2rem;
    padding: 0.2rem;
    margin-top: 1rem;
  }

  #creditCardContainer input {
    font-size: small;
  }
}
