<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-us" />
    <base href="{global.baseUrl}" />
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="icon" href="public/pizza.ico" />
    <link rel="stylesheet" type="text/css" href="public/app.css" />
 

  </head>
  <body class="{body.class}">
      <header>
        <a id="logoPicture" href="/">
          <img src="public/logo.png" alt="Logo" width="70" height="70" />
        </a>
        <i id="hamburgerIcon" class="material-icons">menu</i>
        <nav>
          <div id='logoSpace'></div>
          <div id="pageTitle">
            <h1>{header.title}</h1>
            <p id="headerText">{header.text}</p>
          </div>
          <ul id="menu">
            <li class="menuLink">
              <a href="/">Home</a>
            </li>
            <li class="menuLink">
              <a href="/action/menulist">Pizza menu</a>
            </li>
            <li class="menuLink">
              <a href="/action/shoppingcart">Shopping cart</a>
            </li>
            <li class="menuLink">
              <a href="/action/pizzaorder">Order</a>
            </li>
            <li class="menuLink">
              <a href="/account/edit">Account</a>
            </li>
            <li class="menuLink switchDisabled">
              <a href="/account/login">Login</a>
            </li>
            <li class="menuLink">
              <a id="logoutButton">Logout</a>
            </li>
            <li class="menuLink">
              <a href="/account/create">Signup</a>
            </li>
          </ul>
        </nav>
      </header>

   