<main>
  <div class="wrapperVertical modal hideWhenLogout">
    <h2>Update Your Account</h2>
    <form class="wrapperVertical" id="accountEdit" action="/api/users" method="PUT">
      <div class="accountContainer">
        <div class="inputLabel">First Name</div>
        <input type="text" name="firstName" />
        <div class="inputLabel">Last Name</div>
        <input type="text" name="lastName" />
        <div class="inputLabel">email</div>
        <input type="text" name="email" disabled />
        <div class="inputLabel">Address</div>
        <input type="text" name="street" />
        <div class="inputLabel">New password</div>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="buttonPrimary">Update Account</button>
    </form>
    <h2>Delete Your Account</h2>
    <form class="wrapperVertical" id="accountDelete" action="/api/users" method="DELETE">
      <input type="hidden" name="_method" value="DELETE" />
      <div class="warning">Warning: This action cannot be undone. Dont click this button on accident!</div>
      <input type="hidden" name="email" />
      <button type="submit" class="buttonPrimary">Delete Account</button>
    </form>
  </div>
</main>