<main >
 <div class="wrapperVertical" >
    <div class="contentUpper pageTitle">
      <h1>{index.title}</h1>
      <p>You can order your favourite pizza 0-24h in the area of Gold Coast.</p>
    </div>
    <div class="contentCenter">
      <!-- <div class="modal showHide">
        <h2>PLEASE SELECT</h2>
        <div class="buttonRow">
          <a class='buttonFirst' href="/account/create">Sign Up</a>
          <a class='buttonFirst' href="/account/login">Login</a>
        </div>
      </div> -->
    </div>
  </div>
</main>
