  <div class="content" >
      <div class="contentUpper">
        <h1>{index.title}</h1>
        <h3>Wellcome</h3>
        <p>You can order pizzas 0-24h in the area of Gold Coast.</p>
      </div>
    <div class="contentCenter">
        <div class="modal showHide">
          <h2>PLEASE SELECT</h2>
          <div class="buttonRow">
            <a class='buttonFirst' href="/account/create">Sign Up</a>
            <a class='buttonFirst' href="/account/login">Login</a>
          </div>
        </div>
    </div>
  </div>
</main>
