<main>
  <div class="wrapperVertical" >
    <div class="contentCenter showHide">
      <div class="modal">
        <form  class="wrapperVertical" id="login" action="/api/tokens" method="POST">
          <div class="loginContainer">
            <div class="inputLabel">email</div>
            <input type="text" name="email" placeholder="john.smith@gmail.com" />
            <div class="inputLabel">Your Password</div>
            <input type="password" name="password" placeholder="Type in your password!" />
          </div>
            <button type="submit" class="buttonFirst">Get Started</button>
        </form>
      </div>
    </div>
  </div>
</main>