<div class="content" >
    <div class="contentUpper">
      <h1>{pizzaMenu.title}</h1>
      <p>You can see here our Pizza menu when you are logged in.</p>
    </div>
  <div class="contentCenter">
      <div class="scrollable-table">
        <!-- <table >
          <thead>
            <tr>
              <th class="pizzaName">Name</th>
              <th class="pizzaIngredients">Ingredients</th>
              <th class="pizzaPrice">Price</th>
            </tr>
          </thead>
            <tbody >
            </tbody>
         
        </table> -->
      </div>
  </div>
</div>
</main>